<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <title>{% block title %}Affemat{% endblock %}</title>
  {% block stylesheets %}
    {% stylesheets 
      'bundles/infocorpaffemat/css/style.css'
      'bundles/infocorpaffemat/css/bootstrap/bootstrap.min.css'
      'bundles/infocorpaffemat/css/bootstrap/bootstrap-responsive.css'
      filter='cssrewrite' 
    %}
      <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
  {% endblock %}

  {% block javascripts %}
    {% javascripts 
      'bundles/infocorpaffemat/js/bootstrap.min.js'
    %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}
</head>
<body>
  {{ render(url('infocorp_affemat_slider')) }}
  
  <div class="row-fluid">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>